.book-details {
  margin: 0 24px;
  width: 100%;
}

.book-img {
  height: 368px;
  margin: 24px;
}

.book-prop-value {
  color: $gray;
  font-size: 20px;
  font-weight: normal;
  text-indent: 5px;
}

.book-prop {
  font-size: 20px;
  font-weight: bold;
}

.container {
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
  height: 416px;
  width: 100%;
}

.img-container {
  position: relative;

  &:after {
    @include transform(rotate(20deg));
    background: url('../img/badge.png') no-repeat;
    background-size: contain;
    content: "";
    height: 120px;
    position: absolute;
    right: -20px;
    top: 0;
    width: 100px;
  }
}

.img-container {
  position: relative;

  &:after {
    @include transform(rotate(20deg));
    background: url('../img/badge.png') no-repeat;
    background-size: contain;
    content: "";
    height: 120px;
    position: absolute;
    right: -20px;
    top: 0;
    width: 100px;
  }
}

.property-container {
  margin: 14px 0;
  
  &:first-child {
    border-bottom: 4px solid $earls_green;
    margin: 24px 0;
    padding-bottom: 12px;

    .book-prop {
      font-size: 32px;
    }

    .book-prop-value {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

.book-props {
	display: flex;
	flex-direction: column;
	margin: 0 52px;
}

img {
	width: 33%;
}
