.back {
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
  left: 200px;
  font-size: 17px;
  position: relative;
  top: 100px;

  &:before {
    background: url('../img/back-arrow.png') no-repeat;
    background-size: contain;
    content: "";
    height: 20px;
    left: -25px;
    position: absolute;
    width: 20px;
  }
}

.book-data {
  border-bottom: 4px solid $earls_green;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  font-family: 'Roboto', sans-serif;
  margin: auto 0;
  padding: 12px 0;
  width: 95%;

  .book-title {
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
  }

  .book-genre {
    color: $gray;
    font-size: 24px;
    line-height: 30px;
  }
}

.book-img {
  height: 368px;
  margin: 24px;
}

.container {
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
  grid-template: 20% 80% / 1fr 2fr;
  height: 416px;
  margin: auto;
  position: relative;
  top: 176px;
  width: 1000px;

  .img-container {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  
    &:after {
      @include transform(rotate(20deg));
      background: url('../img/badge.png') no-repeat;
      background-size: contain;
      content: "";
      height: $badge_height;
      position: absolute;
      left: 230px;
      top: 0;
      width: $badge_width;
    }
  }

  .properties-container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    .property-container {
      margin: 36px 0;
    }
  
    .book-prop-value {
      color: $gray;
      font-size: 20px;
      font-weight: normal;
      text-indent: 5px;
    }
    
    .book-prop {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .book-genre-512 {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
    height: 569px;
    grid-template: 2fr 4fr 1fr / 1fr 1fr 1fr;
    margin: 100px auto;
    width: 853px;
    
    .book-data {
      border: 0;
      font-family: 'Roboto', sans-serif;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin: 32px auto;
      text-align: center;
      
      .book-genre {
        color: $gray;
        font-size: 24px;
        font-weight: bold;
        line-height: 28px;
      }
  
      .book-title {
        display: block;
        font-size: 32px;
        font-weight: bold;
        line-height: 38px;
      }
    }
  
    .img-container {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      position: relative;
  
      &:after {
        @include transform(rotate(20deg));
        background: url('../img/badge.png') no-repeat;
        background-size: contain;
        content: "";
        height: $badge_height;
        position: absolute;
        right: -20px;
        top: 0;
        width: $badge_width;
      }
    }
  
    .properties-container {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
      position: relative;
      top: 93px;
  
      .property-container {
        border: 0;
        font-family: 'Roboto', sans-serif;
        margin: 36px;
        padding: 0;
  
        .book-prop {
          font-size: 24px;
          font-weight: bold;
          line-height: 24px;
        }
  
        .book-prop-value {
          font-size: 24px;
          line-height: 24px;
        }
      }
    }
  }
}

@media only screen and (max-width: 512px) {
  .back {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: auto;
    left: 0;
    top: 0;
  }

  .body {
    display: grid;
    grid-template: 100% / 90% 10%;
  }

  .container {
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
    height: 570px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    grid-template: 1fr 5fr 1fr 4fr / 100%;
    margin: 50px auto;
    top: 0;
    width: 336px;

    .book-data {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin: 0;

      .book-title {
        font-size: 24px;
      }

      .book-genre {
        display: none;
      }
    }

    .book-genre-512 {
      border-bottom: 4px solid $earls_green;
      display: inline-block;
      grid-row: 3 / 4;
      grid-column: 1 / 2;
      margin: 0 auto;
      text-align: center;
      width: 90%;

      .genre-512 {
        color: $gray;
        font-size: 16px;
        font-weight: bold;
      }
    }

    .img-container {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      margin: 0 auto;
      position: relative;

      &::after {
        @include transform(rotate(20deg));
        background: url('../img/badge.png') no-repeat;
        background-size: contain;
        content: "";
        height: 85px;
        left: 180px;
        position: absolute;
        top: -25px;
        width: 65px;
      }

      .book-img {
        height: 300px;
        margin: 0;
        width: 215px;
      }
    }

    .properties-container {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
      margin: 9px auto;
      top: 0;
      width: 90%;
      
      .property-container {
        margin: 18px auto;

        .book-prop {
          display: inline;
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          font-weight: bold;
          line-height: 18px;
        }
  
        .book-prop-value {
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}
